# Data Science Tools and Ecosystem


In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

-List popular languages for Data Science.

-List commonly used libraries

-List development enviroment

Some of the popular languages that data Scientists use are: 
1. R
2. Python
3. SQL

 Some of the commonly used libaries used by Data scientist include:
 
1.Pandas

2.Nympy

3.matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Jupyter lab|
|Rstudio|

### Below are a few examples of evaluating arithmetic expression in Python

This is a simple arithmetic expression to multiply then add integer

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [5]:

200/60

3.3333333333333335

## Author Saron Bantte